:root {
  --text-color: #2196f3;
  --link-color: #212121;
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --button-color: #2196f3;
  --portfolio-color: #757575;
  --logo-color: #000000;
  --color-button: #188ce8;
  --footer-color: #2f303a;
  --background-color-benefit: #f5f4fa;
  --border-header-color: #ececec;
  --section-color: #ffffff;
  --border-color-portfolio: #eeeeee;
  --footer-contact-color: #ffffff99;
  --color-icon: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}